<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
    
    <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
   
    <style>
        .chan{
            color: royalblue;
        }
    </style>

</head>
<body>
    <h1>hello ejs</h1>
    <form   action="/test" method="POST">
        <input type="text" name="us" placeholder="username">
        <input type="text" name="pa" placeholder="password">
        <button >check</button>
</body>
</html>
